article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, img { 
    display: block;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
	border-radius: 50%;
	margin-left: auto;
    margin-right: auto;
	padding : 50px;
}

#navigation {
	font-family: "Open Sans", sans-serif;
	font-size: 11px;
    font-weight: 400;
    letter-spacing: 2px;
    background-color: rgb(23, 23, 23);
	color: #fff;
    line-height: 48px;
    text-transform: uppercase;
    
}

a:link { 
	color : inherit;
		 
		}

.post {
	text-align : center;
	font-family: "Open Sans", sans-serif;
	font-size: 30px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 3px;
}

.video embed,
.video object,
.video iframe {
	width: 100%;
	height: auto;
}


